@tailwind base;
@tailwind components;
@tailwind utilities;

.box-auth-login {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.login-auth-box {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: white;
}

.imagem-login {
  height: 500px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.label-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.label-input label {
  margin-left: 1rem;
}

.input {
  height: 30px;
  width: 300px;
  padding-inline-start: 4px;
  border: 1px gray solid;
  border-radius: 0.3rem;
  margin-left: 1rem;
}

.auth-button {
  display: flex;
  justify-content: space-evenly;
}

.auth-button div {
  margin-top: 0.5rem;
  margin-left: 0.9rem;
}

.login-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
