.button {
  height: 40px;
  width: 200px;
  background-color: #dfb07a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.disabled {
  height: 30px;
  width: 140px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.small-button {
  height: 30px;
  width: 140px;
  background-color: #dfb07a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: rgb(190, 190, 190);
  border: 0.5px rgb(190, 190, 190) solid;
}

.small-button:hover {
  background-color: transparent;
  color: rgb(190, 190, 190);
  border: 0.5px rgb(190, 190, 190) solid;
}
