.initial-image {
  height: 460px;
  width: 800px;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 0.2rem;
  margin-top: 7rem;
  margin-bottom: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.151);
}

.carousel-itens {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card-item {
  height: 320px;
  width: 230px;
  border: 0.5px solid rgba(0, 0, 0, 0.151);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: inherit;
}

.linkSemDecoracao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.transparent-button {
  height: 40px;
  width: 200px;
  background-color: #dfb07a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transparent-button:hover {
  background-color: transparent;
  color: black;
  border: 0.5px black solid;
}
