.itens {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 800px;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 1px gray solid;
  margin-bottom: 1rem;
}

.linkSemDecoracao {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.transparent-button {
  height: 40px;
  width: 200px;
  background-color: crimson;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transparent-button:hover {
  background-color: transparent;
  color: black;
  border: 0.5px black solid;
}
