header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: #dfb07a;
  color: white;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.075);
}

.shopName {
  margin-left: 1rem;
}

.carrinho {
  width: 35px;
  height: 35px;
  display: flex;
  margin-right: 1rem;
  background-color: white;
  color: #dfb07a;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.carrinho:hover {
  background-color: transparent;
  color: white;
  border: 0.5px white solid;
}

.qtdItens {
  width: 20px;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  color: white;
  background-color: green;
  border-radius: 10px;
}
