header {
  width: 100%;
  display: flex;
  background-color: #dfb07a;
  color: white;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.075);
}

.store-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.store-links li + li {
  margin-left: 1rem;
}

.store-links button {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.store-links button:hover {
  color: rgba(0, 0, 0, 0.521);
}

.detailsLinks {
  margin-right: 36rem;
}

.menu {
  position: absolute;
  right: 6rem;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-container.menu-open {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.trigger-word {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.dropdown-menu button {
  height: 30px;
  width: 100px;
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.shopName {
  margin-left: 1rem;
  border: 0;
  cursor: pointer;
}

.auth-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 5rem;
}

.auth-buttons div {
  margin-top: 0.4rem;
  margin-right: 0.5rem;
}

.auth-button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: white;
}

.auth-button:hover {
  color: rgba(0, 0, 0, 0.521);
}

.carrinho {
  width: 35px;
  height: 35px;
  display: flex;
  margin-top: 0.5rem;
  margin-right: 2rem;
  background-color: white;
  color: #dfb07a;
  padding: 0.5rem;
  border-radius: 1.5rem;
  border: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.carrinho:hover {
  background-color: transparent;
  color: white;
  border: 0.5px white solid;
}

.qtdItens {
  width: 20px;
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  color: white;
  background-color: green;
  border-radius: 10px;
}
