.pagination {
  display: flex;
  list-style: none;
}

.pagination li + li {
  margin-left: 1rem;
}

.pagination__item {
  background-color: #dfb07a;
  border: none;
  color: #fff;
  padding: 2px 8px;
  border-radius: 2px;
  margin-top: 0.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination__item--active {
  background: none;
  font-weight: bold;
  border: none;
  margin-top: 0.2rem;
}

.pagination__item--active:focus {
  outline: none;
}
