.container {
  display: flex;
  justify-content: center;
}

.item-details {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 350px;
  position: absolute;
  top: 10rem;
  background-color: white;
  border-radius: 2rem;
  border: 0.5px solid rgba(0, 0, 0, 0.151);
}

.item-buy {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 5rem 0 0 5rem;
}

.productTitle {
  width: 400px;
  height: 50px;
  font-size: 15px;
  text-align: end;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.original-price {
  margin-bottom: 0;
  text-decoration: line-through;
}

.price {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: end;
  margin-bottom: 0;
}

.button-itemDetails {
  display: flex;
}

.item-image {
  display: flex;
  align-items: center;
}

.image {
  height: 200px;
  width: 200px;
  border: 0.5px solid rgba(0, 0, 0, 0.055);
}

.transparent-button {
  height: 40px;
  width: 200px;
  background-color: #dfb07a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transparent-button:hover {
  background-color: transparent;
  color: black;
  border: 0.5px black solid;
}
